# Fichiers systèmes Mac
.DS_Store

# Fichiers systèmes Windows
Thumbs.db

# Configurations personnelles des éditeurs de code
.vscode/
.idea/

# Logs locaux de débogage d'e-mails
/mail-debug.log
arborescence.txt

# Fichier de routing local (PHP built-in server uniquement)
public/router.php
